# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints
notebooks_old/
notebooks_private/

# Environments
.env
env/

# Custom
*.egg-info/
data/
results/
src/test.ipynb
src/utils_old.py
README_private.md


